<%- include('../partials/head-layout.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../partials/header-layout.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<%= oldInputs.name%>"
                class="<%= typeErrors.includes('name')  ? 'invalid' : '' %>">
            </div>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="<%= oldInputs.email%>"
                class="<%= typeErrors.includes('email')  ? 'invalid' : '' %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= oldInputs.password%>"
                class="<%= typeErrors.includes('password')  ? 'invalid' : '' %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <button class="btn" type="submit">Sign Up</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
        </form>
    </main>
<%- include('../partials/end-layout.ejs') %>